.App {
  text-align: center;
}

.chord-finder{
  display:flex;
  justify-content:center;
  margin: -15vh;
}

.chord-form{
  display:flex;
}
form{  display:flex;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 1000px) {
  .chord-finder{
      margin:0px;
  }
}